<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
</head>

<body>


<div th:fragment="adminTable" th:remove="tag">
    <div class="center-block">
        <a th:href="@{/adminOrder}"><button type="button" class="btn btn-default">订单管理</button></a>
    </div>
    <div class="center-block">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addProductModal"
                data-whatever="@mdo">上架产品
        </button>
    </div>

    <div class="row" id="productHead">
        <div class="col-md-1 center-block">商品ID</div>
        <div class="col-md-2 center-block">商品图片</div>
        <div class="col-md-2 center-block">商品名称</div>
        <div class="col-md-1 center-block">价格</div>
        <div class="col-md-1 center-block">库存数量</div>
        <div class="col-md-2 center-block">图片管理</div>
        <div class="col-md-2 center-block">详细信息编辑</div>
        <div class="col-md-1 center-block">操作</div>
    </div>

    <!-- 	=============== -->
    <div th:remove="tag" th:if="${pages }">
        <div th:each="product : ${pages.list }" class="row productItem">
            <div class="col-md-1 center-block">
                [[${product.productId }]]
                <br>
                <span th:if="${product.productStatus eq 1 }">
                    (下架状态)
                </span>
            </div>
            <div class="col-md-2 center-block">
                <img th:if="product.productImg1" th:src="@{'/' + ${product.productImg1}}" class="pimg"/>
                <span th:unless="${product.productImg1 }">需要上传图片1才能在主界面显示商品</span>
            </div>
            <div class="col-md-2 center-block" th:text="${product.productTitle }"></div>
            <div class="col-md-1 center-block" th:text="${product.productPrice }"></div>
            <div class="col-md-1 center-block" th:text="${product.productStock }"></div>
            <div class="col-md-2 center-block">
                <div class="col-md-4 center-block">
                    <button type="button" class="btn btn-success uploadImgBtnClass" data-toggle="modal"
                            data-target="#productImgModal" th:pid="${product.productId }" tp="1">图片1
                    </button>
                </div>
                <div class="col-md-4 center-block">
                    <button type="button" class="btn btn-primary uploadImgBtnClass" data-toggle="modal"
                            data-target="#productImgModal" th:pid="${product.productId }" tp="2">图片2
                    </button>
                </div>
                <div class="col-md-4 center-block">
                    <button type="button" class="btn btn-primary uploadImgBtnClass" data-toggle="modal"
                            data-target="#productImgModal" th:pid="${product.productId }" tp="3">图片3
                    </button>
                </div>
            </div>
            <div class="col-md-2 center-block">
                <button type="button" class="btn btn-warning updateClass" data-toggle="modal"
                        data-target="#updateProductModal" th:pid="${product.productId }">详细信息编辑
                </button>
            </div>
            <div class="col-md-1 center-block">
                <div class="btn-group" role="group" aria-label="...">
                    <button th:if="${product.productStatus eq 1 }" type="button" class="btn btn-default ChangeBtn"
                            th:pid="${product.productId }"
                            status="0">上架产品
                    </button>
                    <button th:if="${product.productStatus eq 0 }" type="button" class="btn btn-warning ChangeBtn"
                            th:pid="${product.productId }"
                            status="1">下架产品
                    </button>
                    <button type="button" class="btn btn-danger ChangeBtn" th:pid="${product.productId }" status="-1">
                        删除产品
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>

<div th:fragment="adminModal" th:remove="tag">
    <div class="modal fade" id="productImgModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">修改图片</h4>
                </div>
                <div class="modal-body">
                    <form id="pictureFrom" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <img class="pimg" id="alterImg"/>
                            <div class="col-sm-9">
                                <input id="imgInp" type="file" class="form-control" name="image">
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="submitImgBtn">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- =================== -->
    <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">详细信息编辑</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="updateFrom" method="post">
                        <div class="form-group">
                            <label for="updateProductTitle" class="col-sm-3 control-label">商品名称：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <input id="updateProductTitle" name="productTitle" class="form-control" type="text"
                                           placeholder="请输入商品名称">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updateProductPrice" class="col-sm-3 control-label">价格：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <input type="number" id="updateProductPrice" name="productPrice"
                                           class="form-control" placeholder="请输入价格">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updateProductStock" class="col-sm-3 control-label">库存数量：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <input type="number" id="updateProductStock" name="productStock"
                                           class="form-control" placeholder="请输入库存数量">
                                    </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="updateProductInfo" class="col-sm-3 control-label">产品介绍：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <textarea id="updateProductInfo" name="productInfo" class="form-control" type="text"
                                              placeholder="请输入产品介绍" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="updateProductBtn">保存</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================= -->


    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">上架产品</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="products" method="post" id="addProductForm">
                        <div class="form-group">
                            <label for="addProductName" class="col-sm-3 control-label">商品名称：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <input id="addProductName" name="productTitle" class="form-control" type="text"
                                           placeholder="请输入商品名称">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addProductPrice" class="col-sm-3 control-label">价格：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <input id="addProductPrice" name="productPrice" class="form-control" type="number"
                                           placeholder="请输入价格">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="addProductStock" class="col-sm-3 control-label">库存数量：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <input id="addProductStock" name="productStock" class="form-control" type="number"
                                           placeholder="请输入库存数量">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="addProductInfo" class="col-sm-3 control-label">产品介绍：</label>
                            <div class="col-sm-9">
                                <div class="col-sm-10 input-group">
                                    <textarea id="addProductInfo" name="productInfo" placeholder="请输入产品介绍"
                                              class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <input name="productStatus" value="0" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="addProducteBtn">保存</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = e =>  {
                    $('#alterImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function() {
            console.log("change")
            readURL(this);
        });
    </script>
</div>
</body>
</html>