<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ou.mall.dao.ProductImgMapper">
  <resultMap id="BaseResultMap" type="com.ou.mall.bean.ProductImg">
    <id column="img_id" jdbcType="INTEGER" property="imgId" />
    <result column="img_img2" jdbcType="VARCHAR" property="imgImg2" />
    <result column="img_img3" jdbcType="VARCHAR" property="imgImg3" />
    <result column="img_pid" jdbcType="INTEGER" property="imgPid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    img_id, img_img2, img_img3, img_pid
  </sql>
  <select id="selectByExample" parameterType="com.ou.mall.bean.ProductImgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_img
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_img
    where img_id = #{imgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_img
    where img_id = #{imgId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ou.mall.bean.ProductImgExample">
    delete from product_img
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ou.mall.bean.ProductImg">
    insert into product_img (img_id, img_img2, img_img3, 
      img_pid)
    values (#{imgId,jdbcType=INTEGER}, #{imgImg2,jdbcType=VARCHAR}, #{imgImg3,jdbcType=VARCHAR}, 
      #{imgPid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ou.mall.bean.ProductImg">
    insert into product_img
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        img_id,
      </if>
      <if test="imgImg2 != null">
        img_img2,
      </if>
      <if test="imgImg3 != null">
        img_img3,
      </if>
      <if test="imgPid != null">
        img_pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imgId != null">
        #{imgId,jdbcType=INTEGER},
      </if>
      <if test="imgImg2 != null">
        #{imgImg2,jdbcType=VARCHAR},
      </if>
      <if test="imgImg3 != null">
        #{imgImg3,jdbcType=VARCHAR},
      </if>
      <if test="imgPid != null">
        #{imgPid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ou.mall.bean.ProductImgExample" resultType="java.lang.Long">
    select count(*) from product_img
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_img
    <set>
      <if test="record.imgId != null">
        img_id = #{record.imgId,jdbcType=INTEGER},
      </if>
      <if test="record.imgImg2 != null">
        img_img2 = #{record.imgImg2,jdbcType=VARCHAR},
      </if>
      <if test="record.imgImg3 != null">
        img_img3 = #{record.imgImg3,jdbcType=VARCHAR},
      </if>
      <if test="record.imgPid != null">
        img_pid = #{record.imgPid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_img
    set img_id = #{record.imgId,jdbcType=INTEGER},
      img_img2 = #{record.imgImg2,jdbcType=VARCHAR},
      img_img3 = #{record.imgImg3,jdbcType=VARCHAR},
      img_pid = #{record.imgPid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ou.mall.bean.ProductImg">
    update product_img
    <set>
      <if test="imgImg2 != null">
        img_img2 = #{imgImg2,jdbcType=VARCHAR},
      </if>
      <if test="imgImg3 != null">
        img_img3 = #{imgImg3,jdbcType=VARCHAR},
      </if>
      <if test="imgPid != null">
        img_pid = #{imgPid,jdbcType=INTEGER},
      </if>
    </set>
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ou.mall.bean.ProductImg">
    update product_img
    set img_img2 = #{imgImg2,jdbcType=VARCHAR},
      img_img3 = #{imgImg3,jdbcType=VARCHAR},
      img_pid = #{imgPid,jdbcType=INTEGER}
    where img_id = #{imgId,jdbcType=INTEGER}
  </update>
</mapper>